.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS login */

.Input-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.Input-Username{
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 20px;
  left: 25px;
  background: #E5E4F5;
  border-radius: 6px
}

.Button-Continue{
  width: 325px;
  height: 49px;
  left: 25px;
  top: 361px;
  background: #8973FF;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #F4F4F4;
}

/* CSS de add user */

.Input-Add{
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding-left: 20px;
  left: 25px;
  background: #E5E4F5;
  border-radius: 6px
}

.Button-Add{
  width: 300px;
  height: 49px;
  left: 25px;
  top: 361px;
  background: #8973FF;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #F4F4F4;
}

/* CSS du Header */

.Header{
  display: flex;
  align-items: center;
  height: 68px;
  width: auto;
  border-radius: 0px;
  border-bottom: #F4F4F4;
}

.TexteHeader{
display: flex;
margin-left: 20px;
font-family: 'Museo Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #4B46F0;
}

/* Barre de navigatione */

.NavBot{
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  margin: 0px;
  padding: 0px;
  left: 0px;
  right: 0px;
}

.NavBar{
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 84px;
  background: #fff;
  flex-direction: row;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: 'absolute',
}

.Navigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 60px;
  position: absolute;
  height: 45px;
  left: 23px;
  right: 23px;
  top: calc(50% - 45px/2 - 9.5px);
}

/* Style des links pour pas avoir de surlignement */

.link{
  justify-content: space-around;
  padding: 7%;
  text-align: center;
  text-decoration: none;
}

.linki{
  text-decoration: none;
}

/* Css du profil */

.Profil{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photoDeProfil{
  height: 20vh;
  object-fit: cover;
  width: 20vh;
  border-radius: 500px;
}

.photoDeProfilCadeau{
  width: 104px;
  height: 160px;
  border-radius: 7px;
  object-fit: cover;
}

.progressBar{
  height: 10px;
  width: 80vw;
  background-color: blue;
  border-radius: 3px;
}

.ScrollableContainerPhoto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

h3,h4{
  margin: 5px;
}

.barBlanche
{
  width: 104px;
  height: 10px;
}

.barBlanche p{
  text-align: center;
  width: 104px;
  background-color: white;
  position: relative;
  bottom:25px;
}

.photoDeProfilCadeauContainer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 50px;
}

.photoDeProfilCadeauContainerSélectionné{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 50px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)
}

/* Css du HomeChat */

.Preview{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 16px 10px 10px;
  gap: 10px;
  position: relative;       /* Preview chat bandeau de discussion*/
  width: auto;
  height: 68px;
  justify-content: center;
  border-bottom: 0.5px solid #E5E4F5;
}

.Imgchat{
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  border-radius: 100%;
}

.Namefriend{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  position: relative;
  display: flex;
  color: #000; /* */
  margin-top: 2px;
  margin: 0px;
}

.LastMessage{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  color: #000000;
  position: relative;
  display: flex;
  color: #000;
  margin-top: 2px;
  margin-bottom: 0px;
  width: auto;
}

.Name-Message{
  position: relative;
  width: 163px;
  height: 20px;
  left: 8px;
  top: 2px;
  bottom: 2px;
}

.Date{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  position: relative;
  display: flex;
  color: #000;
  margin: 0px;
}

.NumberNotif{
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #fafafa;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0px;
}

.Notif-Date{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Css du Chat */


.Chatting{
  display: flex;
}

.Message-send{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 0px;
}

.ChatSend{
  display: flex;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.DateChatSend{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  position: relative;
  display: flex;
  color: #000;
  margin: 0px;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 20px;
}

.BubbleChatSend{
  display: flex;
  position: relative;
  max-width: 300px;
  min-width: 200px;
  border-radius: 23px 23px 3px 23px;
  background:#4B46F0;;
  padding: 0px 16px 0px 16px;
  margin-right: 20px;
  margin-left: 190px;
  justify-content: end;
  align-items: flex-end;
}


.Message-Receive{
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 0px;
}

.ChatReceived{
  display: flex;
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
}

.DateChatReceived{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  position: relative;
  display: flex;
  color: #000;
  margin: 0px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}
.BubbleChatReceived{
  display: flex;
  position: relative;
  max-width: 300px;
  min-width: 200px;
  border-radius: 23px 23px 23px 3px;
  background: #F4F4F4;
  padding: 0px 16px 0px 16px;
  margin-left: 20px;
  margin-right: 190px;
}




/* CSS de Edit message du Chat */

.InputChatting{
  display: flex;
  position: relative;
  margin-bottom: 0px;
}

.InputChat{
  display: flex;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  height: 33px;
  width: 80%;
  border-radius: 16.5px;
  background: #FFFFFF;
  border: 1px solid #D1D1D6;
  width: 70%;
  align-items: flex-start;
  justify-content: flex-start;
}

.EditMessage{
  display: flex;
  align-items: center;
  height: 68px;
  width: auto;
  border-radius: 0px;
  border-bottom: #F4F4F4;
  bottom: 70px;
  left: 5px;
  right: 5px;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  margin: 5px;
}

.ButtonEnvoyer{
  display: flex;
  position: relative;
  align-items: flex-end;
  height: 33px;
  width: 30%;
  margin: 5%;
  border-radius: 16.5px;
  background: #FFFFFF;
  border: 1px solid #D1D1D6;
  text-align: center;
  justify-content: center;
  align-items: center;
}